<aside class="social-aside">
   <img src="{{user.imgPath}}" alt="My profile pic">
   <h1>{{user.username}}</h1>
   <div class="aside-block">
   <h3><a href="/social/profile"><i class="fas fa-user-circle"></i></a></h3>
   <h3><a href="/social/friends"><i class="fas fa-user-friends"></i></a></h3>
   <h3><a href="/social/settings"><i class="fas fa-cogs"></i></a></h3>
   </div>
</aside>