<aside class="social-aside">
   <img src="{{user.imgPath}}" alt="My profile pic">
   <h1>{{user.username}}<div class="online"></div></h1>
   <h3><a href="/social/profile">My Profile</a></h3>
   <h3><a href="/social/friends">Friends</a></h3>
   <h3><a href="/social/settings">Settings</a></h3>
</aside>