.mysteries-block{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
 
  
 }
 
 .mysteries {
   display: flex;
   flex-flow: row wrap;
   justify-content: flex-start;
   margin-top: 1rem;
   
 }
 
 .mystery {
   display: flex;
   flex-direction: column;
   width: 31rem;
   align-items: center;
   margin: 3.5rem 0 0 3.5rem;
   background-color: white;
   padding-top: 3rem;
   font-size: 1.3rem;
   box-shadow: 0 5px 15px rgba(0,0,0,0.2);
   border-radius: 5px;
   cursor: pointer;
 }
 .mystery:hover{
   transition: 0.3s ease-in-out;
   animation: bounce 1s;
   
 }

 .mysteryOff {
  display: flex;
  flex-direction: column;
  width: 31rem;
  align-items: center;
  margin: 3.5rem 0 0 3.5rem;
  background-color: white;
  padding-top: 3rem;
  font-size: 1.3rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  cursor: initial;
  filter: grayscale(100%);
}

.mysteryOff:hover {
  transition: none;
  animation: none;
}
 
 h4 {
   width: fit-content;
 }
 
 p {
   width: fit-content;
 }
 
 .checked {
   color: orange;
 }
 .mystery-img{
   width: 25rem;
 }
 
 
 @keyframes bounce {
   0%,
   20%,
   60%,
   100% {
     transform: translateY(0);
   }
 
   40% {
     transform: translateY(-20px);
   }
 
   80% {
     transform: translateY(-10px);
   }
 }
 .search-h1{
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
  margin-top: 12rem;
  border-left: #610CFF solid 8px;
  padding-left: 25px;
 }

 .searchbar{
   margin-top: 3rem;
   width: 100%;
   border-bottom: 0.5px solid #C2C3C9;
   display: flex;
   justify-content: center;
   padding-bottom: 2rem;
   
 }
 .search-imput{
   
   width: 25rem;
   height: 3rem;
   border-radius: 7px;
   border: #C2C3C9 0.7px solid;
   background-color: darksalmon;
   padding: 1rem;
 
 }
 .search-btn{
   
   height: 3rem;
   border-radius: 7px;
   border: #C2C3C9 0.7px solid;
   margin-left: 1rem;
   background-color: darksalmon;
   width: 4rem;
 }
 .fa-search{
   font-size: 30px;
  color: white;
  
 }
 
 
 
 .contact{
 width: 50%;
 background-color: white;
   padding-top: 3rem;
   font-size: 1.3rem;
   box-shadow: 0 5px 15px rgba(0,0,0,0.2);
   border-radius: 5px;
   
   
 }
 
 .contact-imput{
   width: 50%;
   background-color: darksalmon;
   margin-top: 30px;
   height: 50px;
   border-radius: 15px;
 }
 
 
 
 .pricing{
   margin-top: 180px;
 }
 
 
 
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 
 .trip-info{
   margin-top: 3rem;
 }
 .cart-img{
   width: 10rem;
   height: 10rem;
   margin-top: 5rem;
 }
 .trip-info{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-left: -2rem;
 }
 
 .cart h1{
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  
  border-left: #610CFF solid 8px;
  padding-left: 25px;
 }
 
 
 
 