{{> myAside }}

<style>
   #map {
      height: 500px;
      width: 60rem;
      border-radius: 20px;
   }
</style>
<h3>My Travel Map:</h3>
<div class="trips">
   {{#each myUser.trips}}
      <div class="trip">
         {{!-- <img src="the used image on trips" alt=""> --}}
         <h3>{{this.name}}</h3>
         <a href="/social/chat/{{this.id}}"><button>Chat</button></a>
      </div>
   {{/each}}
</div>
<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key={{myEnv.GOOGLE_MAPS_API_KEY}}"></script>
<script src="/javascripts/map.js"></script>
