<div class="main">
  {{> myAside }}

  <section class="user-settings">
    <form class="my-settings" action="" method="post" enctype="multipart/form-data">
      <label>Email</label>
      <input type="email" name="email">
      <label>Username</label>
      <input type="text" name="username">
      <label>Password</label>
      <input type="password" name="password">
      <label>Avatar</label>
      <input type="file" name="photo">
      <input type="text" name="userid" value="{{user.id}}" hidden>
      <input id="edit-info" type="submit" value="SAVE CHANGES">
    </form>
  </section>
</div>