<div class="success">
  <div class="success-content">
    <h2>Success! You bought {{trip.name}}</h2>
    <img src="/images/login-img.jpg" alt="travel">
    <a href="/"><button class="btn-login-signup">Go Back</button></a>
  </div>
</div>